* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar mainbar"
    "sidebar footer";
}

nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: rgb(230, 121, 37);
  color: white;
  padding: 1rem;
  display: flex;
}
aside {
  height: calc(100vh - 59.2px);
  top: 59.2px;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  background-color: rgb(83, 83, 83);
  color: white;
}
main {
  grid-area: mainbar;
  background-color: blueviolet;
}
footer {
  grid-area: footer;
  background-color: green;
  color: white;
  padding: 1rem;
}

#toggle {
  position: relative;
  opacity: 0;
  width: 20px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.sideicon {
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  display: none;
  left: 20px;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    width: 300px;
    display: none;
  }
  nav {
    gap: 20px;
  }
  .sideicon {
    display: block;
  }
  #toggle {
    display: block;
  }
  nav:has(#toggle:checked)~aside{
    display: block;
  }
}

.selection{
    display: flex;
    justify-content: center;
}

.dropdown{
    border: 3px solid red;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.dropdown option{
    border-radius: 30px;
}

.dropdown:focus ,.dropdown:hover{
    
    outline: 5px solid rgba(255, 0, 0, 0.366);
}

